Package: com.huican.altar
Name: altar
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: zw
Author: zw
Section: Tweaks
Version: 0.0.1-18+debug
Installed-Size: 108
